<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CakePrize" connectionString="Data Source=MARCOLLANO;Initial Catalog=CakePrize;Persist Security Info=True;User ID=sa;Password=123qwe;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	<add name="CakePrizeTest" connectionString="Data Source=MARCOLLANO;Initial Catalog=CakePrizeTest;Persist Security Info=True;User ID=sa;Password=123qwe;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


