<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Primary connection string -->
    <add name="CakePrize" connectionString="Data Source=MARCOLLANO;Initial Catalog=CakePrize;Persist Security Info=True;User ID=sa;Password=123qwe;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    
    <!-- Fallback connection string for testing (LocalDB) -->
    <add name="CakePrize_LocalDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CakePrize;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

